.user-card {
    border-bottom: 1px solid #e9ecef;
    padding: 10px;
    cursor: pointer;
  }
  
  .user-card img {
    border-radius: 50%;
  }
  
  .user-card .text-content {
    display: flex;
    flex-direction: column;
  }
  
  .user-card .name {
    font-weight: bold;
  }
  
  .user-card .text {
    color: #555;
  }
  
  .user-card .date {
    font-size: 0.8rem;
    color: #888;
  }
  
  .this-user-notifications {
    color: #ff0000;
    font-weight: bold;
  }
  
  .user-online {
    background-color: #00ff00;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .all-users {
    display: flex;
    flex-direction:row;
    gap: 10px;
  }
  
  .single-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .single-user:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .user-avatar {
    margin-right: 10px;
  }
  
  .avatar-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .user-online {
    background-color: #00ff00;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-top: 5px;
  }
  
  