@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #ff0068;
  --dark-color: #0e1626;
  --light-color: #0e1626; /* Fundalul închis */
  --text-color: #0e1626;
  --highlight-color: #ff2a66;
  --container-bg-color: #0e1626; /* Fundal închis pentru container */
}

body, html {
  height: 100%;
  background: var(--dark-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: block;
  position: relative;
  margin: 40px auto;
  width: 90%;
  max-width: 1000px;
  padding: 40px;
  background: var(--container-bg-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2.5em;
  text-align: center;
  border: 5px solid var(--primary-color);
  padding: 0.5em 0.2em;
  border-radius: 4px;
  background-color: var(--container-bg-color);
  color: var(--text-color);
}

.text-light {
  color: var(--text-color);
}

.questions-container {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  color: #ffffff;
  margin: 20px;
}

.question-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff007f;
  text-align: center;
  border-bottom: 2px solid #ff007f;
  padding-bottom: 10px;
}

/* .code-block {
  background: #333333;
  border-left: 5px solid var(--primary-color);
  padding: 10px;
  white-space: pre-wrap;
  font-family: monospace;
  color: var(--text-color);
  border-radius: 4px;
  margin-bottom: 1em;
} */

.options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  background: #444444;
  border-radius: 4px;
  position: relative;
  transition: background 0.3s ease;
  cursor: pointer;
}

.option-item:hover {
  background: #e460a0;
}

.option-item input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.option-label {
  font-size: 1.2em;
  padding-left: 2.5em;
  cursor: pointer;
  color: var(--text-color);
}

.check {
  position: absolute;
  left: 1em;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.option-item input[type="radio"]:checked ~ .check {
  border-color: var(--primary-color);
}

.check::before {
  content: '';
  display: block;
  width: 0.6em;
  height: 0.6em;
  background: var(--primary-color);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.option-item input[type="radio"]:checked ~ .check::before {
  transform: scale(1);
}

.grid {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5em 2em;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s ease;
  color: var(--dark-color);
}

.btn:hover {
  background-color: var(--highlight-color);
}

.next {
  background-color: var(--primary-color);
}

.prev {
  background-color: #faff5a;
}

.option-item.selected {
  background-color: #d1e7dd;
  border-color: #0f5132;
}

.code-block {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  color: #ffcc00;
  margin: 10px 0;
}
