.chat-container {
    background-color: #0e1626;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages-box {
    background-color: #1b2a41;
    padding: 16px;
    border-radius: 8px;
    height: calc(50vh - 32px); 
    overflow-y: auto; 
    max-width: 400px; 
}

.larger-message-box {
    max-width: 400px; 
}

.chat-header {
    background-color: #ff0068;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%; 
    max-width: 600px; 
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; 
}

.messages {
    flex-grow: 1; /* Mesajele vor ocupa spațiul disponibil rămas */
    overflow-y: auto; /* Scrool vertical în zona mesajelor */
}

.chat-input {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

.send-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.message.self {
    background-color: #d1ffd6;
}

.message-footer {
    font-size: 0.8rem;
    color: #888;
    margin-top: 5px;
}
