/* style/ResultPage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --secondary-color: #000000; /* Negru */
  --accent-color: #ff2a66;
  --dark-color: #222222;
  --light-color: #f0f0f0;
  --text-color: #cecece;
  --highlight-color: #ff0068;
  --gradient-color: linear-gradient(135deg, #ff2a66 0%, #ff0068 100%);
}

body, html {
  height: 100%;
  margin: 0;
  background: var(--dark-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.result-page-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-color); /* Fundal negru */
  text-align: center;
}

.title {
  font-size: 2.5em;
  color: var(--accent-color);
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: '';
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color); /* Fundal negru */
  margin-bottom: 30px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0;
  font-size: 1.2em;
  border-bottom: 1px solid var(--text-color);
}

.result-item .bold {
  font-weight: bold;
}

.start .btn {
  padding: 10px 20px;
  font-size: 1.2em;
  color: var(--dark-color);
  background: var(--accent-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

.start .btn:hover {
  background: var(--highlight-color);
  transform: translateY(-3px);
}

.result-table {
  margin-top: 30px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.table-header {
  color: var(--text-color);
  font-size: 1.1em;
  text-align: center;
  background: var(--secondary-color);
  padding: 18px 0;
}

.table-body {
  font-size: 1.1em;
  text-align: center;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 18px 0;
}

.table-header > tr > td {
  border: 1px solid var(--accent-color);
}

.table-body > tr {
  border-bottom: 1px solid var(--accent-color);
}

.table-body > tr:nth-of-type(even) {
  background: var(--secondary-color);
}

.table-body > tr:hover {
  background: var(--accent-color);
  color: var(--dark-color);
}
